<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{_bootstrap::link}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header th:insert="~{_header.html}"></header>

<div class="container">
    <div class="row align-items-start">

        <div class="col">

        </div>



        <div class="col">
            <h4>Калькулятор расчета стоимости</h4>
            <!--/*@thymesVar id="postPress" type="com.springboot.printmastercrm.entity.PostPress"*/-->
            <form th:action="@{/profile/postpress}" th:object="${postPress}" method="post">
                <!--/*@thymesVar id="selectedCustomer" type="com.springboot.printmastercrm.entity.Customer"*/-->
                <input type="hidden" name="customerId" th:value="${selectedCustomer.id}">
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Ширина (см):</label>
                    <input type="number" class="form-control" id="exampleInputName1" th:field="*{widthSM}">
                </div>
                <div class="mb-3">
                    <label for="exampleInputName2" class="form-label">Длина (см):</label>
                    <input type="number" class="form-control" id="exampleInputName2" th:field="*{lengthSM}">
                </div>
                <div class="mb-3">
                    <label for="exampleInputName3" class="form-label">Тираж:</label>
                    <input type="number" class="form-control" id="exampleInputName3" th:field="*{quantity}">
                </div>
                <div>
                    <input type="hidden" th:field="*{totalPrice}" readonly>
                </div>
                <button type="submit">Сохранить расчет</button>
            </form>
        </div>

        <div class="col">

        </div>

    </div>
</div>


<th:block th:insert="~{_bootstrap::script}"></th:block>
</body>
</html>


