<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>PostMasterCRM</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

<header th:insert="~{_header.html}"></header>

<div class="container-fluid mt-2">
    <div class="row align-items-start">

        <div class="col-3">
            <header th:insert="~{_headet_links.html}"></header>
        </div>


        <div class="col-9">
            <h6>Список клиентов</h6>
            <table class="table table-success table-striped">
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td>
                        <a th:href="@{/profile?id={id}(id=${customer.id})}" th:text="${customer.username}"></a>
                    </td>
                    <td th:text="${customer.phoneNumber}">Телефон</td>
                    <td th:text="${customer.email}">Email клиента</td>
                    <td>
                        <div th:if="${selectedCustomer != null and selectedCustomer.id == customer.id}">
                            <a th:href="@{/profile/orders/{id}(id=${customer.id})}">Заказы</a>
                        </div>
                    </td>
                    <td>
                        <div th:if="${selectedCustomer != null and selectedCustomer.id == customer.id}">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                Изменить
                            </button>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Карточка клиента</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Карточка клиента</h6>
                        <div th:if="${selectedCustomer != null}">
                            <form th:action="@{/profile/update}" th:object="${selectedCustomer}" method="post">
                                <input type="hidden" th:field="*{id}">
                                <div class="mb-3">
                                    <label class="form-label">Название организации</label>
                                    <input type="text" class="form-control" th:field="*{username}"
                                           placeholder="Название организации">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Телефон</label>
                                    <input type="text" class="form-control" th:field="*{phoneNumber}"
                                           placeholder="Телефон">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" th:field="*{email}" placeholder="Email">
                                </div>
                                <input type="hidden" th:field="*{managerUsername}">
                                <input type="hidden" th:field="*{account.id}">
                                <button type="submit" class="btn btn-success">Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<th:block th:insert="~{_bootstrap::script}"></th:block>
</body>
</html>