<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header th:insert="_header.html"></header>

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            One of three columns
        </div>
        <div class="col">


            <!--/*@thymesVar id="account" type="com.springboot.printmastercrm.entity.Account"*/-->
            <form th:action="@{/account/register}" th:object="${account}" method="post">
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="exampleInputName1" th:field="*{name}"
                           placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" th:field="*{username}"
                           placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}"
                           placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>

</body>
</html>
